<template>
    <div class="article">
        <div class="container py-4">
            <b-row v-if="article.id">
                <b-col lg="8" offset-lg="2">
                    <h1 class="h2">{{ article.title }}</h1>

                    <hr />
                    <p>Posted on {{ article.updatedAt | date }}</p>
                    <hr />

                    <div v-html="article.body" />
                </b-col>
            </b-row>
        </div>
    </div>
</template>

<script>
import { ArticlesService } from '@/services/articles.service.js';

export default {
    name: 'Article',
    data() {
        return {
            article: {}
        };
    },
    created() {
        this.fetchData();
    },
    methods: {
        fetchData() {
            ArticlesService.get(this.$route.params.id).then(({ data }) => (this.article = data));
        }
    }
};
</script>
