<template>
    <div class="container-fluid py-4">
        <b-row>
            <b-col lg="4" offset-lg="4">
                <b-card :title="model.id ? 'Edit Article ID#' + model.id : 'New Article'">
                    <form @submit.prevent="saveArticle(model.id)">
                        <b-form-group label="Title">
                            <b-form-input type="text" v-model="model.title"></b-form-input>
                        </b-form-group>
                        <b-form-group label="Body">
                            <b-form-textarea rows="10" v-model="model.body"></b-form-textarea>
                        </b-form-group>
                        <b-btn type="submit" variant="primary">Save article</b-btn>
                    </form>
                </b-card>
            </b-col>
        </b-row>
    </div>
</template>

<script>
import { ArticlesService } from '@/services/articles.service.js';

export default {
    name: 'ArticleEdit',
    data() {
        return {
            model: {}
        };
    },
    created() {
        const id = this.$route.params.id;

        if (id) {
            ArticlesService.get(id).then(({ data }) => this.populateArticleToEdit(data));
        }
    },
    methods: {
        populateArticleToEdit(article) {
            this.model = Object.assign({}, article);
        },

        saveArticle(id) {
            if (id) {
                ArticlesService.update(id, this.model).then(() => this.$router.push({ name: 'home' }));
            } else {
                ArticlesService.create(this.model).then(({ data }) => this.$router.push({ name: 'article', params: { id: data.id } }));
            }

            // reset form
            this.model = {};
        }
    }
};
</script>
