<template>
    <div class="home">
        <b-container class="py-4">
            <Hello v-if="loaded && !articles.length" />

            <b-card-group columns v-if="articles.length">
                <b-card v-for="article in articles" :key="article.id" :title="article.title" tag="article" class="mb-4">
                    <b-card-text>{{ article.body | truncate(200) }}</b-card-text>

                    <template v-slot:footer>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <b-icon-clock></b-icon-clock>
                                <small class="text-muted ml-1">{{ article.updatedAt | date }}</small>
                            </div>

                            <b-button-group>
                                <b-button :to="'articles/' + article.id" size="sm" variant="primary">
                                    <b-icon-eye></b-icon-eye>
                                </b-button>

                                <b-button size="sm" :to="'edit/' + article.id">
                                    <b-icon-pencil></b-icon-pencil>
                                </b-button>

                                <b-button size="sm" variant="danger" @click="deleteArticle(article)">
                                    <b-icon-trash></b-icon-trash>
                                </b-button>
                            </b-button-group>
                        </div>
                    </template>
                </b-card>
            </b-card-group>
        </b-container>
    </div>
</template>

<script>
import Hello from '@/components/Hello.vue';
import { ArticlesService } from '@/services/articles.service';
import { BIconPencil, BIconEye, BIconTrash, BIconClock } from 'bootstrap-vue';

export default {
    name: 'Home',
    components: {
        Hello,
        BIconPencil,
        BIconEye,
        BIconTrash,
        BIconClock
    },
    data() {
        return {
            articles: [],
            loaded: false
        };
    },
    created() {
        this.fetchData();
    },
    methods: {
        fetchData() {
            ArticlesService.query()
                .then(({ data }) => {
                    this.articles = data;
                    this.loaded = true;
                })
                .catch(() => (this.loaded = true));
        },
        deleteArticle(article) {
            if (confirm(`Are you sure you want to delete article: "${article.title}" ?`)) {
                ArticlesService.destroy(article.id).then(() => this.fetchData());
            }
        }
    }
};
</script>
