<template>
    <div class="hero">
        <div>
            <h1 class="display-3">Hello!</h1>
            <p class="lead">Looks like no any article here :(</p>

            <b-button to="/new">Let's create first one</b-button>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Hello'
};
</script>

<style scoped lang="scss">
.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .lead {
        font-weight: 200;
        font-size: 1.5rem;
    }
}
</style>
