<template>
    <div id="app">
        <div id="nav">
            <b-navbar type="dark" variant="dark">
                <b-navbar-brand href="#">
                    <img alt="tekoway" src="./assets/logo.png" class="d-inline-block align-middle mr-3" width="28" />
                    <span>Vue rest api</span>
                </b-navbar-brand>

                <b-navbar-nav>
                    <b-nav-item to="/">Home</b-nav-item>
                    <b-nav-item to="/new">New article</b-nav-item>
                </b-navbar-nav>

                <b-navbar-nav class="ml-auto">
                    <b-nav-item-dropdown text="User" right>
                        <b-dropdown-item href="#">Account</b-dropdown-item>
                        <b-dropdown-item href="#">Settings</b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
            </b-navbar>
        </div>

        <router-view :key="$route.fullPath" />

        <footer class="footer">
            <p>Written by Vadim Hariton</p>
        </footer>
    </div>
</template>

<style lang="scss">
#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    margin: auto auto 0;
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
}
</style>
